.contato__imagem {
    margin: 0 1rem 0 0;
    width: 50%;
    object-fit: cover;
    border-radius: 10%;
}

@media screen and (min-width:0px) {
    .contato__imagem {
        display: none;
    }
}

@media screen and (min-width:922px) {
    .contato__imagem {
        display: block;
    }
}