*{
	padding: 0 0;
	margin: 0 0;
}

body{
	display: flex;
	flex-flow: column;
	align-content: center;
	background: #F5F5F5;
	color: #464646;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 700;
}


.topo {
	/*width: calc(100% - 304px);*/
	height: 88px;
	display: flex;
	justify-content: space-between;
	padding: 1% 152px;
}

.topo p {
	font-weight: 700;
	align-items: center;

}

.topo ul{
	display: flex;
	justify-content: flex-end;
	grid-gap: 32px;
	height: 19px;
	font-weight: 500;
	list-style: none;

}


.topo li:last-child {
	font-weight: bold;
	font-weight: 700;
}

.introduction{
	display: flex;
	justify-content: space-around;
	padding: 0 152px;


}

.sobre{
	display: flex;
	justify-content: space-between;
	width: 70%;
	height: 368px;
	padding: 0 10%;
	margin: 24px 0;
}

.intro-div{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0;
}

.intro-div h1 {
	font-weight: 700;
	font-size: 52px;
	margin: 24px 0;
	align-self: stretch;
	flex: none;
}

.intro-div p {
	font-weight: 400;
	font-size: 22px;
	margin: 24px 0;
}

.intro-div ul{
	width: 100%;
	display: flex;
	align-items: flex-start;
}

.intro-div li {
	list-style: none;
	margin: 0 4px;
	padding: 0 32px;
}

.intro-div li:first-child{
	margin-left: 0;
	padding-left: 0;
}

.intro-div li:after{
	content: url(images/Vector.svg);
	padding: 0 0 0 10px;
}

.photo{
	width: 368px;
	height: 368px;
}

.sobre{
	width: auto;
	height: auto;
	background: #EAF2FD;
	align-items: flex-start;
	padding: 3rem 152px;

}

.sobre div {

}

.sobre h2{
	font-weight: 700;
	font-size: 32px;
	margin: 64px 0px 16px 0;
}

.sobre p {
	width: 784px;
	text-align: justify;
}

.infos-pessoais{
	display: flex;
	flex-flow: column;
}

.infos-pessoais-h3 {
	font-weight: 700;
	font-size: 32px;
	text-align: center;
	margin: 32px 0;
}

.infos-pessoais-skills{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 32px 0;
}

.infos-pessoais-hobbies {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.infos-pessoais-hobbies ul, .infos-pessoais-skills ul{
	display: flex;
	justify-content: space-around;
	align-items: flex-start	;
	margin: 32px 0;
	width: 100%;
}

.infos-pessoais-hobbies li, .infos-pessoais-skills li{
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	align-items: flex-start;
	height: 174px;
	width: 176px;
	background: #FFFFFF;
	padding: 16px;
}

.infos-pessoais img {
	margin: 8px 0;
	width: 24px;
	height: 37px;


}

.infos-pessoais p {
	margin: 8px 0;
}

.experiencia-projeto {
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	padding: 0 162px;
	background: #EAF2FD;

}


.experiencia-projeto-bloco {
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	margin: 0 0 20px 0;
}

.experiencia-projeto-imagem {
	margin: 10px 0;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	width: 50%
}

.experiencia-projeto-info {
	display: flex;
	flex-flow: column;
	padding: 0 26px;
	justify-content: center;
	align-items: flex-start;
}

.experiencia-projeto-bloco:nth-child(2n+1) {
	flex-flow: row-reverse;
	justify-content: center
	
} 

.experiencia-projeto-titulo {
	font-weight: 700;
	font-size: 22px;
	margin: 8px 0;
}

.experiencia-projeto p {
	font-weight: 500;
	margin: 8px 0;
	width: auto;
	text-align: justify-all;
}

.experiencia-projeto-botao {
	margin: 1rem 0 0 0;

}

.experiencia-projeto-botao-repositorio {
	padding: 16px;
	color: #2A7AE4;
	background: none;
	border: 1px solid #2A7AE4;
	font-weight: 400;
	text-decoration: none;
}

.experiencia-projeto-botao-repositorio:hover {
	cursor: pointer;

}

.experiencia-projeto-botao-demo {
	padding: 16px;
	margin: 0 0 0 0.5rem;
	background: #2A7AE4;
	color: #ffffff;
	border: none;
	text-decoration: none;
}

.experiencia-projeto-botao-demo:hover {
	cursor: pointer;
}

.contato {
	padding: 0 152px;
}

.contato-bloco {
	display: flex;
	flex-flow: row;
	height: 600px;
	align-items: center;
}

.contato-bloco_imagem-arquivo {
	flex-grow: 1;
	margin: 0 1rem;
	width: 40%;
	padding: 1rem;

}

.contato-bloco_container{
}

.contato-bloco_container-topo {
	text-align: center;
	font-weight: bolder;
	font-size: 32px;
	padding: 0 .5rem;
}

.contato p {
	padding: .5rem 0;
	text-align: center;

}

.contato-bloco_container-formulario {
	display: flex;
	flex-flow: column;
	justify-content: center;
	padding: 1rem;
}

.contato-bloco_formulario-input {
	font-size: 16px;
	margin: .5rem 0;
	padding: .5rem 0;
	transition: background .3s;
}

.contato-bloco_formulario-input:focus {
	background: lightblue;
}

.contato textarea {
	resize: none;
}


.contato-bloco_formulario-submit {
	margin: 1rem 0 0 0;
	width: 50%;
	padding: 1rem 0;
	justify-content: center;
	background: #2A7AE4;
	color: #FDFDFD;
	font-size: 20px;
	width: auto;
	transition: background .3s;
}

.contato-bloco_formulario-submit:hover {
	background: #464646 ;
}

footer{
	background: #FFFFFF;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 16px 0;
	width: 100%;
}

footer p {
	width: auto;
	font-weight: 500;
	height: 38px;
	text-align: center;
}
