@media screen and (min-width: 0) {
	.pessoal__descricao {
		width: auto;
		text-align: left;
	}
}

@media screen and (min-width: 922px) {
	.pessoal__descricao {
		width: 784px;
		text-align: justify;
	}
	
}